<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="./css/loginpage.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="header">
            <div class="itsmorefun"></div>
            <div class="gunita-logo"></div>

            <form class="header-searchbar" action="">
                <input type="text" placeholder="Search.." name="text-searchbar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            
            <div class="icon-search"></div>
            <span class="text-searchbar">Start typing something...</span>

            <div class="icon-myprofile"></div>
            <span class="text-myprofile">My Profile</span>

            <div class="icon-logout"></div>
            <span class="text-logout">Logout</span>
        </div>
    </body>
</html>