.item1f { grid-area: logo1; }
.item2f { grid-area: logo2; }
.item3f { grid-area: spacing; height: 200px;width: 100%;}

.grid-containerf {
display: grid;
grid-template-areas:
  'spacing spacing'
  'logo1 logo2';
gap: 1px;
padding: 1px;
background-color: #F2F2F2;
}

.flogo1 {
    width: 264px;
    height: 84px;
    background: url("../images/itsmorefun.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
  }
  .flogo2 {
    width: 78px;
    height: 84px;
    background: url("../images/gunita-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
  }