/* Grid Layout for Header */
.grid-containerh {
  display: grid;
  grid-template-areas: 
      'itsmorefun hgunita-logo searchbar myprofile logout';
  grid-template-columns: auto 150px 1fr auto auto;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

/* Search Bar */
.header-searchbar {
  display: flex;
  align-items: center;
  position: relative;
}

.input-searchbar {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #1A40BC;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  height: 30px;
}


.icon-search {
  position: absolute;
  right: 10px;
  background: url('/static/icons/search-normal.svg') no-repeat center center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

/* Profile and Logout Links */
.profLogoTxt {
  color: #1A40BC;
  font-weight: bolder;
}
.logoutLogoTxt {
  color: #FF5C64;
  font-weight: bolder;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin-left: 15px;
}

.nav-link img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Logos */
.item1h {
  grid-area: itsmorefun;
  width: 150px;
  height: 50px;
  background: url('/static/images/ITSMOREFUNLOGO.png') no-repeat center center;
  background-size: contain;
}

.item2h {
  grid-area: hgunita-logo;
  width: 50px;
  height: 50px;
  background: url('/static/images/gunita-logo.png') no-repeat center center;
  background-size: contain;
}
