* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.item1h { grid-area: logo1; }
.item2h { grid-area: logo2; }
.item3h { grid-area: searchbar; }
.item4h { grid-area: myprofile; }
.item5h { grid-area: logout; }

.grid-containerh {
display: grid;
grid-template-areas:
  'logo1 logo2 searchbar myprofile logout';
gap: 1px;
padding: 1px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
}

.itsmorefun {
  width: 264px;
  height: 84px;
  background: url("../images/itsmorefun.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.hgunita-logo {
  width: 78px;
  height: 84px;
  background: url("../images/gunita-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.header-searchbar {
  width: 1050px;
  height: 71px;
  background: rgba(255,255,255,0);
  opacity: 1;
  border: 1px solid rgba(26,64,188,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.input-searchbar {
  width: 89%;
  height: 100%;
  color: rgba(26,64,188,0.5);
  font-family: Raleway;
  font-weight: Light Italic;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  border: none;
}
.icon-search {
  width: 44px;
  height: 44px;
  background: url("../images/icon/icon-search.png");
  opacity: 1;
  border: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-myprofile {
  width: 50px;
  height: 49px;
  background: url("../images/icon/icon-myprofile.png");
  opacity: 1;
  background-position: center center;
  background-repeat: repeat;
  margin-left: 55px;
}
.text-myprofile {
  color: rgba(26,64,188,1);
  font-family: Poppins;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.text-myprofile:visited{
  text-decoration: none;
}
.icon-logout {
  width: 49px;
  height: 50px;
  background: url("../images/icon/icon-logout.png");
  opacity: 1;
  background-position: center center;
  position: relative;
  margin-left: 35px;
}
.text-logout {
  color: rgba(255,92,100,1);
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  position: relative;
  text-decoration: none;
}
.text-logout:visited{
  text-decoration: none;
}
*:focus {
  outline: none;
}