* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.itsmorefun {
  width: 264px;
  height: 84px;
  background: url("../images/itsmorefun.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 38px;
  overflow: hidden;
}
.hgunita-logo {
  width: 78px;
  height: 84px;
  background: url("../images/gunita-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 330px;
  overflow: hidden;
}
.header-searchbar {
  width: 1050px;
  height: 71px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 435px;
  border: 1px solid rgba(26,64,188,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.input-searchbar {
  width: 89%;
  height: 100%;
  color: rgba(26,64,188,0.5);
  font-family: Raleway;
  font-weight: Light Italic;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  border: none;
}
.icon-search {
  width: 44px;
  height: 44px;
  background: url("../images/icon/icon-search.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 976px;
  border: 0;
}
.icon-myprofile {
  width: 50px;
  height: 49px;
  background: url("../images/icon/icon-myprofile.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1595px;
}
.text-myprofile {
  width: 116px;
  color: rgba(26,64,188,1);
  position: absolute;
  top: 112px;
  left: 1562px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.icon-logout {
  width: 49px;
  height: 50px;
  background: url("../images/icon/icon-logout.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1772px;
}
.text-logout {
  width: 82px;
  color: rgba(255,92,100,1);
  position: absolute;
  top: 112px;
  left: 1761px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
*:focus {
  outline: none;
}