
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* Banner Area */
.hBannerArea {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 500px;
}


.hbanner-item {
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
    box-sizing: border-box; 
}

.hbanner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hbanner-item:hover img {
    transform: scale(1.05);
}

.hbannertext {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hbanner-item.hattractions .hbannertext {
    background-color: #FF8912;
}

.hbanner-item.hactivities .hbannertext {
    background-color: #FFCD05;
}

.hbanner-item.hevents .hbannertext {
    background-color: #1A40BC;
}

.hbanner-item.hfood .hbannertext {
    background-color: #FF5C64;
}
.main-content {
    padding: 20px;
    width: 100%;
    margin:0px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.region-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.region-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.region-map {
    flex: 1;
    padding: 20px;
}

.map-img {
    width: auto;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.region-info {
    flex: 2;
    padding: 20px;
}

.region-title {
    font-size: 24px;
    color: #1A40BC;
}

.region-subtitle {
    font-size: 20px;
    color: #FF5C64;
}

.region-description {
    font-size: 16px;
    color: #333;
}

.best-known-for {
    padding: 20px;
}


/*recco section*/
.recommended-section {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.recommended-section h2 {
    height: auto;
    text-align: center;
    margin: auto;
    font-size: 24px;
    color:#333;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#rP {
    text-align: center;
    font-size: 16px;
    color: #333;
    padding: 20px;
   
}

.recommended-carousel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 300px;
}

.carousel-content {
    width: 100%;
    display: none;
    transition: opacity 0.5s ease;
}

.carousel-content.active {
    display: flex;
    justify-content: space-around;
}

