
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.grid-containerh {
    display: grid;
    grid-template-areas: 
        'itsmorefun hgunita-logo searchbar myprofile logout';
    grid-template-columns: auto 150px 1fr auto auto;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

.header-searchbasr {
    display: flex;
    align-items: center;
    position: relative;
}

.input-searchbar {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.icon-search {
    position: absolute;
    right: 10px;
    background: url('/static/icons/search-normal.svg') no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.profLogoTxt{
    color: #1A40BC;
    font-weight: bolder ;
}
.logoutLogoTxt{
    color: #FF5C64;
    font-weight: bolder ;
}

/* Profile and Logout Styles */
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-left: 15px;
}

.nav-link img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

.nav-link:hover {
    text-decoration: underline;
}


/* Logo Styles */
.item1h {
    grid-area: itsmorefun;
    width: 150px;
    height: 50px;
    background: url('/static/images/ITSMOREFUNLOGO.png') no-repeat center center;
    background-size: contain;
}

.item2h {
    grid-area: hgunita-logo;
    width: 50px;
    height: 50px;
    background: url('/static/images/gunita-logo.png') no-repeat center center;
    background-size: contain;
}

/*banner images/navbar*/

.BannerArea {
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 20px;
}

.banner-item {
    position: relative;
    width: 24%;
    height: 100%;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}

.banner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner-item:hover img {
    transform: scale(1.05);
}

.bannertext {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-item.attractions .bannertext {
    background-color: #FF8912;
}

.banner-item.activities .bannertext {
    background-color: #FFCD05;
}

.banner-item.events .bannertext {
    background-color: #1A40BC;
}

.banner-item.food .bannertext {
    background-color: #FF5C64;
}


.main-content {
    padding: 20px;
    width: 100%;
    margin:0px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.region-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.region-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.region-map {
    flex: 1;
    padding: 20px;
}

.map-img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.region-info {
    flex: 2;
    padding: 20px;
}

.region-title {
    font-size: 24px;
    color: #1A40BC;
}

.region-subtitle {
    font-size: 20px;
    color: #FF5C64;
}

.region-description {
    font-size: 16px;
    color: #333;
}

.best-known-for {
    padding: 20px;
}


/*recco section*/
.recommended-section {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.recommended-section h2 {
    height: 80px;
    text-align: center;
    margin-bottom: auto;
    font-size: 24px;
    color:white;
    background-color: #FF8912;
    justify-content: center;
    align-items: center;
}

#rP {
    text-align: center;
    margin-bottom: auto;
    font-size: 16px;
    color: #333;
   
}

.recommended-carousel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 300px;
}

.carousel-content {
    width: 100%;
    display: none;
    transition: opacity 0.5s ease;
}

.carousel-content.active {
    display: flex;
    justify-content: space-around;
}

/*.carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-navigation button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.carousel-navigation img {
    width: 32px;
    height: 32px;
    opacity: 0.7;
}

.carousel-navigation img:hover {
    opacity: 1;
}*/

