.infopage {
  display: grid;
  grid-template-areas:
    'header'
    'banner'
    'info'
    'suggestions'
    'footer';
}

.infopage > div {
  background-color: rgba(255, 255, 255, 0.8);
  
}

.itempage {
  display: grid;
  grid-template-areas:
    'header header'
    'banner banner'
    'banner2 banner2'
    'item suggestions'
    'footer footer';
  gap: 1px;
  padding: 1px;
}

.itempage > div {
  background-color: rgba(255, 255, 255, 0.8);
  
}

.header {
    grid-area: header;
}

.bcolor1 { grid-area: bcolor1; background-color: #FF8912; }
.bcolor2 { grid-area: bcolor2; background-color: #FFCD05; }
.bcolor3 { grid-area: bcolor3; background-color: #1A40BC; }
.bcolor4 { grid-area: bcolor4; background-color: #FF5C64; }

.BannerArea{
    grid-area: banner;
    display: grid;
    grid-template-areas: 'bcolor1 bcolor2 bcolor3 bcolor4';
    grid-template-columns: 25%;
    width: 100%;
    height: 90px;
    text-align: center;
}
.bannertext{
  color: #fff;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bolder;
  line-height: 90px;
  font-size: 30px;
}
.bannertext:visited{
  text-decoration: none;
}
.bannertext:hover{
  color: rgba(255, 255, 255, 0.8);
}
.bannerdescription{
  color: #fff;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bolder;
  line-height: 90px;
  font-size: 50px;
}

.BannerAttractions{
  grid-area: banner2;
  object-fit: cover;
  background-image: url("../images/banner-attractions.png");
  width: 100%;
  height: 180px;
  font-family: Raleway;
  font-weight: bolder;
  line-height: 90px;
}

.BannerActivities{
  grid-area: banner2;
  object-fit: cover;
  background-image: url("../images/banner-activities.png");
  width: 100%;
  height: 180px;
  font-family: Raleway;
  font-weight: bolder;
  line-height: 90px;
}

.BannerEvents{
  grid-area: banner2;
  object-fit: cover;
  background-image: url("../images/banner-events.png");
  width: 100%;
  height: 180px;
  font-family: Raleway;
  font-weight: bolder;
  line-height: 90px;
}

.BannerFood{
  grid-area: banner2;
  object-fit: cover;
  background-image: url("../images/banner-food.png");
  width: 100%;
  height: 180px;
  font-family: Raleway;
  font-weight: bolder;
  line-height: 90px;
}

.itemarea {
  grid-area: item;
  width: 100%;
  height: 600px;
  font-family: Poppins;
}

.infoarea {
  grid-area: info;
  width: 100%;
  font-family: Poppins;
}

.stext { grid-area: stext; 
  font-family: Raleway; 
  font-size: 24px; 
  font-weight: bold; 
  text-align: center; 
  height: auto; }
.tab1 { grid-area: tab1;}
.tab2 { grid-area: tab2;}
.tab3 { grid-area: tab3;}
.tab4 { grid-area: tab4;}
.tab5 { grid-area: tab5;}
.tab6 { grid-area: tab6;}
.buttonleft { grid-area: buttonleft; }
.buttonright { grid-area: buttonright; }

.suggestions-itempage {
  grid-area: suggestions;
  width: auto;
  display: grid;
  grid-template-areas:
    'stext stext'
    'tab1 tab2'
    'tab3 tab4'
    'tab5 tab6';
  gap: 10px;
  padding: 20px;
  height: auto;
}

.suggestions-infopage {
  grid-area: suggestions;
  width: 100%;
  display: grid;
  grid-template-areas:
    'buttonleft stext stext stext stext buttonright'
    'buttonleft tab1 tab2 tab3 tab4 buttonright';
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 300px;
}