/* Landscape tabs */
.tab-landscape {
    width: 400px;
    height: 250px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    display: grid;
    grid-template-areas: 'tab-image' 'tab-text';
    border-radius: 15px;
    text-decoration: none;
    position: relative;
    background-color: #333; 
}

.tab-landscape.tab-attractions {
    background-color: #FF8912;
}
.tab-landscape.tab-activities {
    background-color: #FFCD05;
}
.tab-landscape.tab-events {
    background-color: #1A40BC;
}

.tab-landscape.tab-food {
    background-color: #FF5C64;
}


.tab-image-l {
    grid-area: tab-image;
    height: 180px; 
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tab-text {
    grid-area: tab-text;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: auto;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* Portrait Tabs */
.tab-portrait {
    width: 230px;
    height: 300px;
    font-family: Raleway;
    font-weight: bolder;
    font-size: 18px;
    color: #fff;
    display: grid;
    grid-template-areas: 'tab-image' 'tab-text';
    border-radius: 15px;
    text-decoration: none;
    position: relative;
}

.tab-image-p {
    grid-area: tab-image;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* Category Colors */
.tab-attractions{
    background-color: #FF8912;
}

.tab-activities{
    background-color: #FFCD05;
}

.tab-events{
    background-color: #1A40BC;
}

.tab-food{
    background-color: #FF5C64;
}

/* Heart Icon*/
.heart-icon-container {
    width: 32px; 
    height: 32px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.heart-icon {
    width: 20px; 
    height: 20px;
    background-size: contain;
}

.heart-icon-container.active .heart-icon {
    background: url('/static/icons/heart-tick.svg') no-repeat center center;
}

.heart-icon-container:not(.active) .heart-icon {
    background: url('/static/icons/heart-add.svg') no-repeat center center;
}
