.tab-landscape {
    width: 400px;
    height: 200px;
    font-family: Raleway;
    font-weight: bolder;
    color: #fff;
    display: grid;
    grid-template-areas: 'tab-image' 'tab-text';

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-decoration: none;
  }

.tab-image {
    grid-area: tab-image;
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tab-text {
    grid-area: tab-text;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

.tab-attraction {
    background-color: #FF8912;
}

.tab-activities {
    background-color: #FFCD05;
}

.tab-events {
    background-color: #1A40BC;
}

.tab-food {
    background-color: #FF5C64;
}