<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="/static/css/header.css" rel="stylesheet" />
        <link href="/static/css/layout-itempage.css" rel="stylesheet" />
        <link href="/static/css/tabs.css" rel="stylesheet" />
        <link href="/static/css/footer.css" rel="stylesheet" />
    </head>
    <body>
        <div class="infopage">
                {% include 'header.html' %}

            <div class="BannerArea">
                <div class="bcolor1"><a href="/attractions" class="bannertext">ATTRACTTIONS</a></div>
                <div class="bcolor2"><a href="/activities" class="bannertext">ACTIVITIES</a></div>
                <div class="bcolor3"><a href="/events" class="bannertext">EVENTS</a></div>
                <div class="bcolor4"><a href="/food" class="bannertext">FOOD</a></div>
            </div>

            <div class="infoarea">
                {% include 'infoset-events.html' %}
            </div>
            
            <div class="suggestions-infopage">
                <p class="stext">You can also try:</p>
                <a class="tab-landscape tab1 tab-events" href="/GetEventByID/1">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://i.pinimg.com/736x/a8/4e/23/a84e2318133670c2993fa69a312bbff8.jpg">
                    <p class="tab-text">Bangus Festival</p>
                </a>
                <a class="tab-landscape tab2 tab-events" href="/GetEventByID/2">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="/static/images/Events/panagbenga-2.jpg">
                    <p class="tab-text">Panagbenga Festival</p>
                </a>
                <a class="tab-landscape tab3 tab-events" href="/GetEventByID/3">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.gettyimages.com/id/668455526/photo/participants-dressed-as-centurions-prepare-to-re-enact-the-passion-and-death-of-christ-during.jpg?s=612x612&w=gi&k=20&c=St16Ov0jxLaHdIr15l--jjxxxTSoduQ4KNY2tcpi-0M=">
                    <p class="tab-text">Moriones Festival</p>
                </a>
                <a class="tab-landscape tab4 tab-events" href="/GetEventByID/5">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://www.lamudi.com.ph/journal/wp-content/uploads/2019/01/31655_1.jpg">
                    <p class="tab-text">Longganisa Festival</p>
                </a>
            </div>

            <div class="footer">
                <div class="grid-containerf">
                    <div class="item3f"></div>
                    <div class="flogo1 logo1"></div>
                    <div class="flogo2 logo2"></div>
                </div>
            </div>
          </div>
    </body>
</html>