<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="/static/css/header-test.css" rel="stylesheet" />
        <link href="/static/css/layout-itempage.css" rel="stylesheet" />
    </head>
    <body>
        <div class="grid-container">
            <div class="item1 header">
                <div class="grid-containerh">
                <div class="item1h itsmorefun"></div>
                <a href="/"><div class="item2h hgunita-logo"></div></a>

                <div class="item3h header-searchbar" action="">
                    <input type="text" class = "input-searchbar" placeholder="Start typing something..." name="search">
                    <button type="submit" class = "icon-search"></button>
                </div>

                <a href="/"><div class="item4h">
                    <div class="icon-myprofile"></div>
                    <span class="text-myprofile">My Profile</span>
                </div></a>

                <a href="/"><div class="'item5h">
                    <div class="icon-logout"></div>
                    <span class="text-logout">Logout</span>
                </div></a>
            </div>
        </div>
            <div class="item2">Menu</div>
            <div class="item3">Main</div>  
            <div class="item4">Right</div>
            <div class="item5">Footer</div>
          </div>
    </body>
</html>