<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="/static/css/header.css" rel="stylesheet" />
        <link href="/static/css/layout-login.css" rel="stylesheet" />
        <link href="/static/css/login.css" rel="stylesheet" />
        <link href="/static/css/homepage.css" rel="stylesheet" />
    </head>
    <body>
        <!--HEADER-->
        <div class = "grid-container">
            <div class="grid-item header">
                <div class="itsmorefun"></div>
                <a href="/"><div class="hgunita-logo"></div></a>

                <div class="header-searchbar" action="">
                    <input type="text" class = "input-searchbar" placeholder="Start typing something..." name="search">
                    <button type="submit" class = "icon-search"></button>
                </div>

                <a href="/">
                    <div class="icon-myprofile"></div>
                    <span class="text-myprofile">My Profile</span>
                </a>

                <a href="/">
                    <div class="icon-logout"></div>
                    <span class="text-logout">Logout</span>
                </a>
            </div>

            <div class="ActivitiesBtn" style="width: 100%; height: 100%; position: relative">
                <div class="Rectangle29" style="width: 480px; height: 89.10px; left: 0px; top: 0px; position: absolute; background: #FF8912"></div>
                <div class="Activities" style="width: 281.41px; left: 99.79px; top: 23.06px; position: absolute; text-align: center; color: white; font-size: 36px; font-family: Raleway; font-weight: 800; word-wrap: break-word">ATTRACTIONS</div>
            </div>

            <div class ="ActBtn">
                <div class="Rectangle35"></div>
                <img id="SiargaoIslandHopping41" src="/static/images/Activities_Attractions/boracay-2.jpg" />
                
                <div id="ActivitiesBtn">
                <div class="Rectangle29" ></div>
                <div id="Activities">ACTIVITIES</div>
                </div>
            </div>
        </div>
    </body>
</html>