<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
   <!-- Header -->
   {% include 'header.html' %}

    <!-- NAVBAR -->
    <div class="BannerArea">
        <a href="/attractions" class="banner-item attractions">
            <div class="bannertext">ATTRACTIONS</div>
            <img src="{{ url_for('static', filename='images/Activities_Attractions/siargao-maasin-river-swing-2.jpg') }}" alt="Attractions">
        </a>
        <a href="/activities" class="banner-item activities">
            <div class="bannertext">ACTIVITIES</div>
            <img src="{{ url_for('static', filename='images/Activities_Attractions/siargao-island-hopping-4.jpg') }}" alt="Activities">
        </a>
        <a href="/events" class="banner-item events">
            <div class="bannertext">EVENTS</div>
            <img src="{{ url_for('static', filename='images/Events/boracay-dragon-boat-fest-1.jpg') }}" alt="Events">
        </a>
        <a href="/food" class="banner-item food">
            <div class="bannertext">FOOD</div>
            <img src="{{ url_for('static', filename='images/Food/kinilaw-2.jpg') }}" alt="Food">
        </a>
    </div>

     <!-- Main Content -->
     <div class="main-content">
        <!-- Region Section -->
        <div class="region-container">
            <div class="region-section">
                <div class="region-map">
                    <img src="{{ url_for('static', filename='images/map-placeholder.jpg') }}" alt="Map" class="map-img">
                </div>
                <div class="region-info">
                    <h1 class="region-title">REGION NAME</h1>
                    <h2 class="region-subtitle">Location title goes here</h2>
                    <p class="region-description">
                        Lorem ipsum dolor sit amet consectetur. Adipiscing sed cursus viverra ultricies ac faucibus diam massa. In vestibulum volutpat adipiscing ut erat eget. Maecenas nunc at vitae vel id lobortis at eget lobortis. Nunc cras dignissim nisl diam arcu quam consectetur pretium. Feugiat odio neque volutpat quam. Amet at mauris tellus lectus massa mus elementum. Lorem ipsum dolor sit amet consectetur. Adipiscing sed cursus viverra ultricies ac faucibus diam massa. In vestibulum volutpat adipiscing ut erat eget. Maecenas nunc at vitae vel id lobortis at eget lobortis. Nunc cras dignissim nisl diam arcu quam consectetur pretium. Feugiat odio neque volutpat quam. Amet at mauris tellus lectus massa mus elementum. 
                    </p>
                   
                </div>
            </div>
       
   <!-- Recommended Section -->
<div class="recommended-section">
    <h2>Recommended</h2>
    <p id="rP"><span style="font-weight: bolder;">Lorem ipsum dolor </span> sit amet consectetur. Adipiscing sed cursus viverra ultricies ac faucibus diam massa. In vestibulum volutpat adipiscing ut erat eget. Maecenas nunc at vitae vel id lobortis at eget lobortis. Nunc cras dignissim nisl diam arcu quam consectetur pretium. Feugiat odio neque volutpat quam. Amet at mauris tellus lectus massa mus elementum. Lorem ipsum dolor sit amet consectetur. Adipiscing sed cursus viverra ultricies ac faucibus diam massa. In vestibulum volutpat adipiscing ut erat eget. Maecenas nunc at vitae vel id lobortis at eget lobortis. Nunc cras dignissim nisl diam arcu quam consectetur pretium. Feugiat odio neque volutpat quam. Amet at mauris tellus lectus massa mus elementum. </p>
    <br>
    <div class="recommended-carousel">
        <!--Attractions-->
        <div class="carousel-content active" data-category="attractions">
            <a class="tab-landscape tab-attraction" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Attraction Image">
                    <p class="tab-text">Attraction Name</p>
                </div>
            </a>

            <a class="tab-landscape tab-attraction" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Attraction Image">
                    <p class="tab-text">Attraction Name</p>
                </div>
            </a>

            <a class="tab-landscape tab-attraction" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Attraction Image">
                    <p class="tab-text">Attraction Name</p>
                </div>
            </a>

            <a class="tab-landscape tab-attraction" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Attraction Image">
                    <p class="tab-text">Attraction Name</p>
                </div>
            </a>
        </div>        
        <!--Activities-->
        <div class="carousel-content" data-category="activities">
            <a class="tab-landscape tab-activities" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Activity Image">
                    <p class="tab-text">Activity Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-activities" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Activity Image">
                    <p class="tab-text">Activity Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-activities" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Activity Image">
                    <p class="tab-text">Activity Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-activities" href="/item">
                <div class="tab-cosntent">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Activity Image">
                    <p class="tab-text">Activity Name</p>
                </div>
            </a>
        </div>
        <!--Events-->
        <div class="carousel-content" data-category="events">
            <a class="tab-landscape tab-events" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Event Image">
                    <p class="tab-text">Event Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-events" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Event Image">
                    <p class="tab-text">Event Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-events" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Event Image">
                    <p class="tab-text">Event Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-events" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Event Image">
                    <p class="tab-text">Event Name</p>
                </div>
            </a>
            
        </div>
        <!--Fooood-->
        <div class="carousel-content" data-category="food">
            <a class="tab-landscape tab-food" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Food Image">
                    <p class="tab-text">Food Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-food" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Food Image">
                    <p class="tab-text">Food Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-food" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Food Image">
                    <p class="tab-text">Food Name</p>
                </div>
            </a>
            <a class="tab-landscape tab-food" href="/item">
                <div class="tab-content">
                    <div class="heart-icon-container" onclick="toggleHeart(event, this)">
                        <div class="heart-icon"></div>
                    </div>
                    <img class="tab-image-l" src="https://media.istockphoto.com/id/502155294/photo/banaue-rice-terraces.jpg?s=2048x2048&w=is&k=20&c=Pc5E_CfzO2VSYAwrS28QCRTmCGVPcvbjX9PLolQWTjI=" alt="Food Image">
                    <p class="tab-text">Food Name</p>
                </div>
            </a>
        </div>
        <!--<div class="carousel-navigation">
            <button class="carousel-prev" onclick="prevCarousel()">
                <img src="/static/icons/arrow-circle-left.svg" alt="Previous">
            </button>
            <button class="carousel-next" onclick="nextCarousel()">
                <img src="/static/icons/arrow-circle-right.svg" alt="Next">
            </button>
        </div>-->
    </div>
</div>


<script src="{{ url_for('static', filename='js/carousel.js') }}" defer></script>
</body>
</html>
