<html>
    <body>
        <table border = "1">
            <thead>
                <td><h3>ID</h3></td>
                <td><h3>evName</h3></td>
                <td><h3>evRegion</h3></td>
                <td><h3>evImg</h3></td>
            </thead>
            {% for row in rows %}
            <tr>
                <td><h3>{{ row[0] }}</h3></td>
                <td><h3>{{ row["evName"] }}</h3></td>
                <td><h3>{{ row["evRegion"] }}</h3></td>
                <td><img src="{{ row[4] }}"></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>