<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="/static/css/header.css" rel="stylesheet" />
        <link href="/static/css/layout-login.css" rel="stylesheet" />
        <link href="/static/css/login.css" rel="stylesheet" />
        <title>Gunita - Login Page</title>
    </head>
    <body>
        <div class = "grid-container">
            <div class="gheader header">
                <div class="grid-containerh">
                    <div class="item1h itsmorefun"></div>
                    <a href="/"><div class="item2h hgunita-logo"></div></a>

                    <div class="item3h header-searchbar" action="">
                        <input type="text" class = "input-searchbar" placeholder="Start typing something..." name="search">
                        <button type="submit" class = "icon-search"></button>
                    </div>

                    <a href="/"><div class="item4h">
                        <div class="icon-myprofile"></div>
                        <span class="text-myprofile">My Profile</span>
                    </div></a>

                    <a href="/login"><div class="'item5h">
                        <div class="icon-logout"></div>
                        <span class="text-logout">Logout</span>
                    </div></a>
                </div>
            </div>

            <div class="gbanner BannerArea"><div class="bcolor1"></div><div class="bcolor2"></div><div class="bcolor3"></div><div class="bcolor4"></div></div>
            <div class = "gphoto PhotosArea"></div>
            <div class = "gfillout FillArea">

                <div class="gunita-logo"></div>
                <div class="gunita-desc"></div>

                <form action="/login" method="post">
                    <div class="greybackdrop"></div>

                    <div class="username-text">Username</div>
                    <input type="text" class="username" name="UName" required/>

                    <div class="password-text">Password</div>
                    <input type="password" class="password" name="Password" required/>

                    <span class="signup">Don't have an account? <a href = "/createNewAcc">Sign Up here</a></span>

                    <input type="submit" class="button-signin" value=" "/>
                </form>
            </div>
        </div>

    </body>
</html>