  <head>
    <link href="/static/css/navbarWBanner.css" rel="stylesheet" />
  </head>   
     <!-- Banner Area -->
     <div class="BannerArea">
        <a href="/attractions" class="bcolor1 bannertext">ATTRACTIONS</a>
        <a href="/activities" class="bcolor2 bannertext">ACTIVITIES</a>
        <a href="/events" class="bcolor3 bannertext">EVENTS</a>
        <a href="/food" class="bcolor4 bannertext">FOOD</a>
    </div>

  <!-- Banner Img -->
  <div class="banner">
    <div class="overlay-container">
        <img src="{{ image_url }}" alt="Banner" class="banner-img">
        <div>
            <h1 class="banner-title">{{ page_title }}</h1>
        </div>
    </div>
</div>