<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="/static/css/indiv-info-sets.css" rel="stylesheet" />
    </head>
    <body>
        <div class="info-sets">
            <div class="image">1</div>
            <div class="information">
                <div class="info-headers"> <!--top part of info section-->
                    <div class="title">Title Goes here</div>
                    <div class="subtitle">Subtitle Goes here</div>
                    <div class="h-line"></div>
                </div>

                <div class="info-parag"> <!--middle part of info section (paragraph)-->
                    <div class="information">paragraph Goes here</div>
                </div>

                <div class="recommendations"> <!--"more images section"-->
                    <div class="recom-box1"> <!--image 1-->
                        <div class="rectangle1"></div>
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>

                    <div class="recom-box2"> <!--image 2-->
                        <div class="rectangle1"></div>
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>

                    <div class="recom-box3"> <!--image 3-->
                        <div class="rectangle1"></div>
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>
                    
                </div>
               


            </div>
        </div>
    </body>
</html>