<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="/static/css/header.css" rel="stylesheet" />
        <link href="/static/css/layout-signup.css" rel="stylesheet" />
        <link href="/static/css/signup.css" rel="stylesheet" />
    </head>
<body>
    <div class = "grid-container">
        <div class="gheader header">
            <div class="grid-containerh">
                <div class="item1h itsmorefun"></div>
                <a href="/"><div class="item2h hgunita-logo"></div></a>

                <div class="item3h header-searchbar" action="">
                    <input type="text" class = "input-searchbar" placeholder="Start typing something..." name="search">
                    <button type="submit" class = "icon-search"></button>
                </div>

                <a href="/"><div class="item4h">
                    <div class="icon-myprofile"></div>
                    <span class="text-myprofile">My Profile</span>
                </div></a>

                <a href="/"><div class="'item5h">
                    <div class="icon-logout"></div>
                    <span class="text-logout">Logout</span>
                </div></a>
            </div>
        </div>

        <div class="gbanner BannerArea"><div class="bcolor1"></div><div class="bcolor2"></div><div class="bcolor3"></div><div class="bcolor4"></div></div>
        <div class = "gphoto PhotosArea"></div>
        <div class = "grid-item FillArea">

            <div class="gunita-logo"></div>
            <div class="gunita-desc"></div>

            <form action="/createNewAcc" method="post">
                <div class="greybackdrop">

                    <span class="fnametext">First Name</span>
                    <input type="text" class="fnamefield" name="FName" required/>

                    <span class="lnametext">Last Name</span>
                    <input type="text" class="lnamefield" name="LName" required/>

                    <span class="emailtext">Email</span>
                    <input type="email" class="emailfield" name="Email" required/>

                    <span class="unametext">Username</span>
                    <input type="text" class="unamefield" name="UName" required/>

                    <span class="pwordtext">Password</span>
                    <input type="password" class="pwordfield" name="Password" required/>

                    <span class="cpwordtext">Confirm Password</span>  
                    <input type="password" class="cpwordfield" name="cPassword" required/>

                    <input type="submit" class="bcreate" value=" "/>

                </div>
            </form>
        </div>
    </div>
</body>
</html>