<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link href="/static/css/header.css" rel="stylesheet" />
        <link href="/static/css/layout-signup.css" rel="stylesheet" />
        <link href="/static/css/signup.css" rel="stylesheet" />
    </head>
<body>
    <div class = "grid-container">
        <div class="grid-item header">
            <div class="itsmorefun"></div>
            <a href="/"><div class="hgunita-logo"></div></a>

            <div class="header-searchbar" action="">
                <input type="text" class = "input-searchbar" placeholder="Start typing something..." name="search">
                <button type="submit" class = "icon-search"></button>
            </div>

            <a href="/">
                <div class="icon-myprofile"></div>
                <span class="text-myprofile">My Profile</span>
            </a>

            <a href="/">
                <div class="icon-logout"></div>
                <span class="text-logout">Logout</span>
            </a>
        </div>

        <div class = "grid-item BannerArea"></div>
        <div class = "grid-item PhotosArea"></div>
        <div class = "grid-item FillArea">

            <div class="gunita-logo"></div>
            <div class="gunita-desc"></div>

            <form action="/createNewAcc" method="post">
                <div class="greybackdrop">

                    <span class="fnametext">First Name</span>
                    <input type="text" class="fnamefield" name="FName" required/>

                    <span class="lnametext">Last Name</span>
                    <input type="text" class="lnamefield" name="LName" required/>

                    <span class="emailtext">Email</span>
                    <input type="email" class="emailfield" name="Email" required/>

                    <span class="unametext">Username</span>
                    <input type="text" class="unamefield" name="UName" required/>

                    <span class="pwordtext">Password</span>
                    <input type="password" class="pwordfield" name="Password" required/>

                    <span class="cpwordtext">Confirm Password</span>  
                    <input type="cpassword" class="cpwordfield" name="cPassword" required/>

                    <input type="submit" class="bcreate" value=" "/>

                </div>
            </form>
        </div>
    </div>
    <form action="/createNewAcc" method="post">
        <h2>Create New Account</h2>
        <br>First Name<br>
        <input type="text" name="FName" required/>
        <br>Last Name<br>
        <input type="text" name="LName" required/>
        <br>Email<br>
        <input type="email" name="Email" required/>
        <br>Username<br>
        <input type="text" name="UName" required/>
        <br>Password<br>
        <input type="password" name="Password" required/>
        <br><input type="submit" name="submit"/>
        </form>
</body>
</html>