<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>

<body>
    <form action ="/createNewAcc" method="post">
        <h2>Create New Account</h2>
        <br>
        First Name
        <br>
        <input type="text" name="FName"/>
        <br>
        Last Name
        <br>
        <input type="text" name="LName"/>
        <br>
        UserName
        <br>
        <input type="text" name="UserName"/>
        <br>Email<br>
        <input type="email" name="Email"/>
        <br>Password<br>
        <input type="text" name="Password"/>

        <br><input type="submit" name="submit"/>

    </form>
</body>
