<div class="suggestions suggestions-itempage">
    <p class="stext">You might also like:</p>
    <!--Test *it workedd!!!*-->
    <a class="tab-portrait tab1 tab-activities" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="activities" data-text="Activity Name" data-img="/static/images/Activities_Attractions/banaue-1.jpeg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/banaue-1.jpeg" alt="Activity Image">
            <p class="tab-text">Activity Name</p>
        </div>
    </a>

    <a class="tab-portrait tab2 tab-activities" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="activities" data-text="Activity Name" data-img="/static/images/Activities_Attractions//boracay-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions//boracay-1.jpg" alt="Activity Image">
            <p class="tab-text">Activity Name</p>
        </div>
    </a>
    

    <a class="tab-portrait tab3 tab-activities" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="activities" data-text="Activity Name" data-img="/static/images/Activities_Attractions/burnham-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/burnham-1.jpg" alt="Activity Image">
            <p class="tab-text">Activity Name</p>
        </div>
    </a>
    

    <a class="tab-portrait tab4 tab-activities" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="activities" data-text="Activity Name" data-img="/static/images/Activities_Attractions/calle-crisologo-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/calle-crisologo-1.jpg" alt="Activity Image">
            <p class="tab-text">Activity Name</p>
        </div>
    </a>
    

    <a class="tab-portrait tab5 tab-activities" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="activities" data-text="Activity Name" data-img="/static/images/Activities_Attractions/hinatuan-enchanted-river-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/hinatuan-enchanted-river-1.jpg" alt="Activity Image">
            <p class="tab-text">Activity Name</p>
        </div>
    </a>
    

    <a class="tab-portrait tab6 tab-activities" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="activities" data-text="Activity Name" data-img="/static/images/Activities_Attractions/hundred-islands-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/hundred-islands-1.jpg" alt="Activity Image">
            <p class="tab-text">Activity Name</p>
        </div>
    </a>
    
    </div>