<div class="suggestions suggestions-itempage">
    <p class="stext">You might also like:</p>
    <!--Test *it workedd!!!*-->
    <a class="tab-portrait tab1 tab-food" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="food" data-text="Food Name" data-img="/static/images/Food/arrowroot-cookies-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Food/arrowroot-cookies-1.jpg" alt="Food Image">
            <p class="tab-text">Arrowroot Cookies</p>
        </div>
    </a>
    
    <a class="tab-portrait tab2 tab-food" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="food" data-text="Food Name" data-img="/static/images/Food/kinilaw-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Food/kinilaw-1.jpg" alt="Food Image">
            <p class="tab-text">Food Name</p>
        </div>
    </a>

    <a class="tab-portrait tab3 tab-food" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="food" data-text="Food Name" data-img="/static/images/Food/pakbet-2.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Food/pakbet-2.jpg" alt="Food Image">
            <p class="tab-text">Food Name</p>
        </div>
    </a>
    <a class="tab-portrait tab4 tab-food" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="food" data-text="Food Name" data-img="/static/images/Food/arrowroot-cookies-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Food/arrowroot-cookies-1.jpg" alt="Food Image">
            <p class="tab-text">Food Name</p>
        </div>
    </a>
    
    <a class="tab-portrait tab5 tab-food" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="food" data-text="Food Name" data-img="/static/images/Food/kinilaw-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Food/kinilaw-1.jpg" alt="Food Image">
            <p class="tab-text">Food Name</p>
        </div>
    </a>

    <a class="tab-portrait tab6 tab-food" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="food" data-text="Food Name" data-img="/static/images/Food/pakbet-2.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Food/pakbet-2.jpg" alt="Food Image">
            <p class="tab-text">Food Name</p>
        </div>
    </a>
</div>