<div class="suggestions suggestions-itempage">
    <p class="stext">You might also like:</p>
    <!--Test *it workedd!!!*-->
    <a class="tab-portrait tab1 tab-attractions" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="attractions" data-text="Attraction Name" data-img="/static/images/Activities_Attractions/strawberry-picking-4.jpeg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/strawberry-picking-4.jpeg" alt="Attraction Image">
            <p class="tab-text">Event Name</p>
        </div>
    </a>
    
    <a class="tab-portrait tab2 tab-attractions" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="attractions" data-text="Attraction Name" data-img="/static/images/Activities_Attractions/siargao-maasin-river-swing-3.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/siargao-maasin-river-swing-3.jpg" alt="Attraction Image">
            <p class="tab-text">Event Name</p>
        </div>
    </a>
    
    <a class="tab-portrait tab3 tab-attractions" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="attractions" data-text="Attraction Name" data-img="/static/images/Activities_Attractions/palawan-puerto-princesa-river-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/palawan-puerto-princesa-river-1.jpg" alt="Attraction Image">
            <p class="tab-text">Event Name</p>
        </div>
    </a>
    
    <a class="tab-portrait tab4 tab-attractions" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="attractions" data-text="Attraction Name" data-img="/static/images/Activities_Attractions/strawberry-picking-4.jpeg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/strawberry-picking-4.jpeg" alt="Attraction Image">
            <p class="tab-text">Event Name</p>
        </div>
    </a>
    
    <a class="tab-portrait tab5 tab-attractions" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="attractions" data-text="Attraction Name" data-img="/static/images/Activities_Attractions/siargao-maasin-river-swing-3.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/siargao-maasin-river-swing-3.jpg" alt="Attraction Image">
            <p class="tab-text">Event Name</p>
        </div>
    </a>
    
    <a class="tab-portrait tab6 tab-attractions" href="#">
        <div class="tab-content">
            <div class="heart-icon-container" onclick="toggleHeart(event, this)" data-category="attractions" data-text="Attraction Name" data-img="/static/images/Activities_Attractions/palawan-puerto-princesa-river-1.jpg">
                <div class="heart-icon"></div>
            </div>
            <img class="tab-image-p" src="/static/images/Activities_Attractions/palawan-puerto-princesa-river-1.jpg" alt="Attraction Image">
            <p class="tab-text">Event Name</p>
        </div>
    </a>
    </div>