<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}
  

    <!-- Banner Area -->
    <div class="BannerArea">
        <a href="/attractions" class="bcolor1 bannertext">ATTRACTIONS</a>
        <a href="/activities" class="bcolor2 bannertext">ACTIVITIES</a>
        <a href="/events" class="bcolor3 bannertext">EVENTS</a>
        <a href="/food" class="bcolor4 bannertext">FOOD</a>
    </div>

    <!-- Banner Img -->
    <div class="banner">
        <img src="{{ url_for('static', filename='images/banner-img-my-dashboard.png') }}" alt="Banner" class="banner-img">
        <!--<h1 class="banner-title">MY DASHBOARD</h1>-->
    </div>

    <!-- Main Content -->
    <div class="itempage">
        <div class="sidebar">
            <h2 style="color:#FF5C64 ; font-weight: bolder;">My Saved Items</h2>
            <ul>
                <li ><a style="color:#FF8912 ; font-weight: bolder;" href="#saved-attractions">Attractions</a></li>
                <li ><a style="color:#A38303 ; font-weight: bolder;" href="#saved-activities">Activities</a></li>
                <li ><a style="color:#1A40BC ; font-weight: bolder;" href="#saved-events">Events</a></li>
                <li ><a style="color:#FF5C64 ; font-weight: bolder;" href="#saved-food">Food</a></li>
                <button id="resetDashboardBtn" class="reset-dashboard-btn">Reset Dashboard</button>
            </ul>
            <button class="signout">Sign Out</button>
        </div>
        <div class="content">
            <div id="saved-attractions" class="saved-items">
                <h3 style="color: #FF8912;">SAVED ATTRACTIONS</h3>
                <div class="tab-container">
                    <button class="carousel-arrow left-arrow bcolor1" onclick="scrollCarousel('attractions', -1)">&#10094;</button>
                    <div class="carousel-wrapper">
                        {% for favorite in favorites if favorite.category == 'attractions' %}
                            <div class="tab-item">
                                <a class="tab-landscape tab-{{ favorite.category }}" href="#">
                                    <div class="tab-content">
                                        <div class="heart-icon-container active" data-img="{{ favorite.img }}" data-text="{{ favorite.text }}" data-category="{{ favorite.category }}">
                                            <div class="heart-icon"></div>
                                        </div>
                                        <img class="tab-image-p" src="{{ favorite.img }}" alt="{{ favorite.text }}">
                                        <p class="tab-text" style="background-color:#FF8912;">{{ favorite.text }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-arrow right-arrow bcolor1" onclick="scrollCarousel('attractions', 1)">&#10095;</button>
                </div>
            </div>


            <div id="saved-activities" class="saved-items">
                <h3 style="color: #f3c200;">SAVED ACTIVITIES</h3>
                <div class="tab-container">
                    <button class="carousel-arrow left-arrow bcolor2" onclick="scrollCarousel('activities', -1)">&#10094;</button>
                    <div class="carousel-wrapper">
                        {% for favorite in favorites if favorite.category == 'activities' %}
                            <div class="tab-item">
                                <a class="tab-landscape tab-{{ favorite.category }}" href="{{ favorite.link }}">
                                    <div class="tab-content">
                                        <div class="heart-icon-container active" data-img="{{ favorite.img }}" data-text="{{ favorite.text }}" data-category="{{ favorite.category }}" data-link="{{ favorite.link }}">
                                            <div class="heart-icon"></div>
                                        </div>
                                        <img class="tab-image-p" src="{{ favorite.img }}" alt="{{ favorite.text }}">
                                        <p class="tab-text" style="background-color:#FFCD05;">{{ favorite.text }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-arrow right-arrow bcolor2" onclick="scrollCarousel('activities', 1)">&#10095;</button>
                </div>
            </div>

 
            <div id="saved-events" class="saved-items">
                <h3 style="color: #1A40BC;">SAVED EVENTS</h3>
                <div class="tab-container">
                    <button class="carousel-arrow left-arrow bcolor3" onclick="scrollCarousel('events', -1)">&#10094;</button>
                    <div class="carousel-wrapper">
                        {% for favorite in favorites if favorite.category == 'events' %}
                            <div class="tab-item">
                                <a class="tab-landscape tab-{{ favorite.category }}" href="#">
                                    <div class="tab-content">
                                        <div class="heart-icon-container active" data-img="{{ favorite.img }}" data-text="{{ favorite.text }}" data-category="{{ favorite.category }}">
                                            <div class="heart-icon"></div>
                                        </div>
                                        <img class="tab-image-p" src="{{ favorite.img }}" alt="{{ favorite.text }}">
                                        <p class="tab-text" style="background-color:#1A40BC;">{{ favorite.text }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-arrow right-arrow bcolor3" onclick="scrollCarousel('events', 1)">&#10095;</button>
                </div>
            </div>
            

 
            <div id="saved-food" class="saved-items">
                <h3 style="color: #FF333D;">SAVED FOOD</h3>
                <div class="tab-container">
                    <button class="carousel-arrow left-arrow bcolor4" onclick="scrollCarousel('food', -1)">&#10094;</button>
                    <div class="carousel-wrapper">
                        {% for favorite in favorites if favorite.category == 'food' %}
                            <div class="tab-item">
                                <a class="tab-landscape tab-{{ favorite.category }}" href="#">
                                    <div class="tab-content">
                                        <div class="heart-icon-container active" data-img="{{ favorite.img }}" data-text="{{ favorite.text }}" data-category="{{ favorite.category }}">
                                            <div class="heart-icon"></div>
                                        </div>
                                        <img class="tab-image-p" src="{{ favorite.img }}" alt="{{ favorite.text }}">
                                        <p class="tab-text" style="background-color:#FF5C64;">{{ favorite.text }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-arrow right-arrow bcolor4" onclick="scrollCarousel('food', 1)">&#10095;</button>
                </div>
            </div>
            
        </div>
    </div>

<!-- Initial Confirmation Modal -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeConfirmModal">&times;</span>
        <p>Are you sure you want to remove this item from your dashboard?</p>
        <button id="confirmRemove" class="confirm-btn">Yes</button>
        <button id="cancelRemove" class="cancel-btn">No</button>
    </div>
</div>

<div id="resetConfirmationModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeResetModal">&times;</span>
        <p>Are you sure you want to clear all items from your dashboard?</p>
        <button id="confirmReset" class="confirm-btn">Yes</button>
        <button id="cancelReset" class="cancel-btn">No</button>
    </div>
</div>

</body>
</html>
